body {
	display: flex;
	flex-wrap: wrap;
	color: white;
	height: 100vh;
	font-size: 2vh;
}
body > * {
	flex: 1 100%;
	margin: 5px;
}
p {
	margin: 10px;
}
header {
	background-color: grey;

	height: 15vh;
}
nav {
	background-color: pink;
	height: 8vh;
}
main {
	background-color: green;
	height: 60vh;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}
article {
	background-color: blue;
	margin: 10px;
	height: 20vh;
	width: 90%;
}
aside {
	background-color: yellow;
	flex: 0 0 30vw;
}
footer {
	background-color: orange;
	height: 15vh;
}